/*font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans serif;

}
body{
    background-color: #18181b;
}
/*add image to the middle and adjust*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 3.5rem;
}
img{
    width: 31rem;
}
 /*adjusting form*/
#form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 8px;
    gap: 2rem;
    
}
#calculator{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}
/*adjusting inputs*/
.input-box label{
    font-weight: 500;
    font-size: 1.2rem;
    color: #cbd5e1;
}
.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding:  0.3rem;
    border-radius: 4px;
    margin-top: 2px;
}
.input-field input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3;
    color:  #f8fafc;
    padding: 0 0.5rem;
}
.input-field input::-webkit-inner-spin-button{
    appearance: none;
}

/*putting icons*/
.unit, 
.icon{
color: #cdb5e1;
font-size: 1.3rem;
padding: 0.6rem 1rem;
}
/*button*/
#calculate{
    background-color: #fd1b1b;
    border: none;
    color: #f8fafc;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 0;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
}

